@use "../variables" as *;
@use "../breakpoints" as *;

.login-input-form-container {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: $border-width solid $color-border;
  border-radius: $border-radius;

  &:focus-within .separator {
    background-color: transparent;
  }

  &.has-error {
    background-color: $error-color-bg;
  }
}

.separator {
  height: $border-width;
  width: 100%;
  background-color: $color-border;
}

.floating-input {
  display: flex;
  position: relative;
  width: 100%;
  transition: $basic-transition;
  border: $border-width-lg solid transparent;
  border-radius: $border-radius;
  align-items: center;
  padding: $space-md $space-sm $space-sm;

  &:focus-within {
    border-color: $color-black;
  }

  &.has-error:focus-within {
    border-color: $error-color;
  }

  input {
    width: 100%;
    margin-top: $space-xs;
    font-size: $font-size-md;
    border: none;
    outline: none;
    background: transparent;
  }

  label {
    position: absolute;
    top: $space-md;
    left: $space-sm;
    color: $color-text-secondary;
    pointer-events: none;
    transition: $basic-transition;
    background: transparent;
  }

  input:focus + label,
  &.has-value label {
    top: 0.3rem;
    left: 0.6rem;
    font-size: $font-size-sm;
    padding: 0 0.25rem;
  }
}

.error-message {
  display: flex;

  p {
    color: $error-color;
    font-size: $font-size-sm;
  }
}

.material-symbols-outlined {
  color: $color-gray-700;
  font-size: $font-size-lg;
  transition: $basic-transition;

  &:hover {
    color: $color-black;
    cursor: pointer;
  }
}
