@use "../variables" as *;

.login-input-form-container {
  display: flex;
  flex-direction: column;
  gap: $space-xsmall;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: $border-width solid $color-border;
  border-radius: $border-radius-small;

  &:focus-within .separator {
    background-color: transparent;
  }

  &.has-error {
    border-color: $color-border;
    background-color: $error-color-bg;
  }
}

.separator {
  height: $border-width;
  width: 100%;
  background-color: $color-border;

  // &.has-error {
  //   background-color: $error-color;
  // }
}

.floating-input {
  display: flex;
  position: relative;
  width: 100%;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid transparent;
  border-radius: $border-radius-small;

  &:focus-within {
    border-color: $color-black;
  }

  &.has-error:focus-within {
    border-color: $error-color;
  }

  input {
    width: 100%;
    margin-top: 0.3rem;
    padding: $space-normal $space-small;
    font-size: $font-size-normal;
    border: none;
    outline: none;
    background: transparent;

    &:focus + label,
    .has-value & + label {
      top: 0.3rem;
      left: 0.6rem;
      font-size: $font-size-small;
      padding: 0 0.25rem;
    }
  }

  label {
    position: absolute;
    top: $space-normal;
    left: $space-small;
    color: $color-text-secondary;
    pointer-events: none;
    transition: all 0.2s ease;
    background: transparent;
  }

  input:focus + label,
  &.has-value label {
    top: 0.3rem;
    left: 0.5rem;
    font-size: $font-size-small;
    padding: 0 0.25rem;
  }
}

.error-message {
  color: $error-color;
  font-size: $font-size-small;
  visibility: hidden;

  &.has-error {
    visibility: visible;
  }
}
