@use "../variables" as *;
@use "../breakpoints" as *;

.login-input-form-container {
  display: flex;
  flex-direction: column;
  gap: $space-xsmall;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: $border-width-basic solid $color-border;
  border-radius: $border-radius-small;

  &:focus-within .separator {
    background-color: transparent;
  }

  &.has-error {
    border-color: $color-border;
    background-color: $error-color-bg;
  }
}

.separator {
  height: $border-width-basic;
  width: 100%;
  background-color: $color-border;
}

.floating-input {
  display: flex;
  position: relative;
  width: 100%;
  transition: $basic-transition;
  border: $border-width-lg solid transparent;
  border-radius: $border-radius-small;

  &:focus-within {
    border-color: $color-black;
  }

  &.has-error:focus-within {
    border-color: $error-color;
  }

  input {
    width: 100%;
    margin-top: 0.5rem;
    padding: $space-normal $space-small $space-small;
    font-size: $font-size-normal;
    border: none;
    outline: none;
    background: transparent;

    &:focus + label,
    .has-value & + label {
      top: 0.3rem;
      left: 0.6rem;
      font-size: $font-size-small;
      padding: 0 0.25rem;
    }
  }

  label {
    position: absolute;
    top: $space-normal;
    left: $space-small;
    color: $color-text-secondary;
    pointer-events: none;
    transition: $basic-transition;
    background: transparent;
  }

  input:focus + label,
  &.has-value label {
    top: 0.3rem;
    left: 0.5rem;
    font-size: $font-size-small;
    padding: 0 0.25rem;
  }
}

.error-message {
  display: flex;

  p {
    color: $error-color;
    font-size: $font-size-small;
  }
}
