@use "../variables" as *;
@use "../breakpoints" as *;

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-full-width {
  display: flex;
  width: 100%;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%card {
  border: $border-width solid $color-border;
  border-radius: $border-radius;
}

%button-base {
  @extend %flex-center;
  width: 100%;
  gap: $space-xs;
  font-family: $font-stack;
  font-size: $font-size-sm;
  padding: $space-sm;
  border: $border-width solid $primary-color;
  border-radius: $border-radius-full;
  background-color: $primary-color;
  cursor: pointer;
  transition: $basic-transition;
  color: $color-white;

  &:active {
    box-shadow: $shadow-light;
  }
  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }
}

@mixin column-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin row-gap($gap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#task-3 {
  p {
    line-height: 1.2;
    margin: 0;
    font-size: $font-size-sm;
  }

  .main-container {
    @include column-gap($space-xl);
    justify-self: center;
    justify-content: center;
    width: 100%;
    font-family: $font-stack;
    background-color: $color-background;
    color: $color-text-primary;
    max-width: 500px;
    margin-bottom: $space-xl * 3;
  }

  .todo-container {
    @include column-gap($space-md);
  }

  .list-container,
  .action-bar-container {
    @extend %flex-full-width;
    @include column-gap($space-md);
    align-items: center;
  }

  .filter-status-container {
    @extend %flex-full-width;
    @include column-gap($space-sm);

    @include respond-above("sm") {
      @include row-gap($space-md);
    }
  }

  ul {
    @include column-gap($space-md);
    margin: 0;
    padding: 0;
    width: 100%;
  }

  label {
    font-size: $font-size-sm;
    cursor: pointer;
  }

  .checkbox-input {
    @extend %flex-center;
    gap: calc($space-xs / 3);
    transition: $basic-transition;

    @include respond-above("sm") {
      @include row-gap($space-xs);
    }

    input {
      appearance: none;
      margin: 0;
    }

    &.checked {
      color: $color-gray-700;
      text-decoration: line-through;
    }

    &:hover {
      color: $primary-color;
      .small-icon,
      .checked {
        color: $primary-color;
      }
    }
  }

  li {
    @extend %flex-full-width;
    @extend %card;
    padding: $space-sm;
    justify-content: space-between;
    align-items: center;
    gap: $space-sm;

    @include respond-above("sm") {
      gap: $space-lg;
      padding: $space-lg;
    }

    &:focus-within {
      border-color: $primary-color;
    }
  }

  .todo-actions {
    @extend %flex-center;
    gap: $space-xs;

    @include respond-above("sm") {
      gap: $space-sm;
    }
  }

  button {
    @extend %button-base;
  }

  .primary-button {
    width: fit-content;

    &:hover {
      box-shadow: $shadow-primary;
      background-color: $primary-color-light;
      border-color: $primary-color-light;
      transform: scale(1.1);
    }
  }

  .filter-button {
    @extend %button-base;
    background-color: $color-gray-100;
    border: none;
    color: $color-gray-700;

    &:hover {
      background-color: $primary-color;
      color: $color-white;
      box-shadow: $shadow-primary;
    }

    &.checked {
      background-color: $primary-color;
      color: $color-white;
    }
  }

  .naked-button {
    color: $color-gray-700;
    background-color: $color-white;
    border: 0;
    padding: 0;
  }

  .material-symbols-outlined {
    color: $color-white;
    font-size: 2rem;
    transition: $basic-transition;

    &:hover {
      cursor: pointer;
    }
  }

  .small-icon {
    font-size: 1.5rem;
    color: $color-gray-700;

    &:hover {
      color: $primary-color;
    }
  }

  .new-todo-input {
    border: none;
    outline: none;
    font-family: $font-stack;
  }

  form {
    @extend %flex-full-width;
    @include row-gap($space-sm);
    justify-content: space-between;

    @include respond-above("sm") {
      gap: $space-lg;
    }

    input {
      width: 100%;
    }

    button {
      width: fit-content;
    }
  }

  .empty-list-text {
    @extend %flex-center;
    @include column-gap($space-sm);
    margin-top: $space-xl;

    .title {
      font-size: $font-size-lg;
    }
  }
}
