@use "variables" as *;
@forward "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  margin: 0;
}

button {
  width: 100%;
  font-family: $font-stack;
  font-size: $font-size-normal;
  padding: $space-normal $space-small;
  border: 1px solid $primary-color;
  border-radius: $border-radius-small;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: $color-white;
    color: $primary-color;
  }
}

form {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-1 {
  .main-container {
    border: $border-width solid $color-border;
    border-radius: $border-radius;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font: 100% $font-stack;
    background-color: $color-background;
    color: $color-text-primary;
  }

  .form-container {
    display: flex;
    padding: $space-xlarge 7.5em;
    gap: $space-normal;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    border-bottom: $border-width solid $color-border;
  }

  .header-text {
    font-weight: $font-weight-bold;
    font-size: $font-size-normal;
    margin: 0;
    padding: $space-normal;
  }

  .form-header {
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    margin: 0;
  }

  .submit-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: $space-xsmall;
  }

  .primary-button {
    background-color: $primary-color;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $primary-color;
    }
  }

  .secondary-button {
    width: fit-content;
    font-size: $font-size-small;
    padding: $space-xsmall;
    border: none;
    transition: all 0.5s ease;
    background-color: $color-white;

    &:hover {
      color: $primary-color;
    }
  }
}
