$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
);

$breakpoint-sm: map-get($breakpoints, "sm");
$breakpoint-md: map-get($breakpoints, "md");
$breakpoint-lg: map-get($breakpoints, "lg");

@mixin respond-above($size) {
  $value: map-get($breakpoints, $size);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "No breakpoint named `#{$size}` found.";
  }
}
